@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      opacity: 1;
      text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px var(--secondColor),
        0 0 30px var(--secondColor),
        0 0 40px var(--secondColor),
        0 0 50px var(--secondColor),
        0 0 60px var(--secondColor);
    }
    20%, 24%, 55% {
      opacity: 0.4;
      text-shadow: none;
    }
  }

.banner P{
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    animation: flicker 2s infinite;
    text-align: center;
}
.loading{
display: flex;
align-items: center;
justify-content: center;
    background-color: var(--text);
    width: 100%;
    min-height: 100vh;
}